* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}

h1 {
  font-size: 3.32rem;
  line-height: 1;
  font-weight: 600;
}

h2 {
  font-size: 2.76rem;
  line-height: 1.1;
  font-weight: 400;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  padding: 1.28rem 2.5rem;
  box-shadow: 0 0.33rem 0.6rem rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}

.imagem-cabecalho {
  padding: 1rem 2rem;
}

.navbar {
  display: flex;
  gap: 2.5rem;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 3rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #112e61;
}

.navbar li a:hover,
.navbar li a:active {
  color: #f60;
}

.navbar li.contem-filhos::after {
  content: "\2bc6";
}

.secao {
  padding: 7.63rem 2rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.secao-hero {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-01.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.texto-hero {
  font-size: 1.9rem;
  line-height: 1.3;
}

.botao {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.65rem 2.5rem;
}

.botao-hero {
  background-image: linear-gradient(180deg, #ff645e, #ff9253);
  color: white;
  border-bottom: solid 0.4rem #993c38;
  border-right: solid 0.4rem #993c38;
}

.botao-hero:hover {
  background-color: #ff9253;
  background-image: none;
  border-bottom: solid 0.4rem #ff9253;
  border-right: solid 0.4rem #ff9253;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
}

.iframe-video {
  aspect-ratio: 16/9;
  border-radius: 2.5rem;
}

/* Secão conteudos */

.secao-conteudos {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-02.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-conteudos {
  width: 44rem;
}
.caixa-cursos-hashtag {
  position: relative;
  box-shadow: inset 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 2.5rem;
}
.caixa-gratuito-h3 {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  padding: 0.42rem 1.6rem;
  background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
  color: white;
  border-radius: 1rem;
  transform: rotate(-3deg) translate(-50%, -50%);
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
}

.circulo-logo-cursos {
  display: inline-block;
  background-color: #e7e7e7;
  border-radius: 50%;
  box-shadow: inset 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.15);
  padding: 1.02rem;
  width: 4.5rem;
  height: 4.5rem;
}

.circulo-logo-cursos img {
  width: 100%;
}

.subtitulo-gratuitos span {
  color: #7043bc;
}

.gratuitos-modalidades {
  font-size: 2.3rem;
  font-weight: 700;
  background-color: #7043bc;
  border-radius: 4rem;
  color: white;
}

.gratuito-link-redes:link,
.gratuito-link-redes:visited {
  display: inline-block;
  padding: 0.42rem 3.12rem;
  background-color: #eee;
  border-radius: 1rem;
  box-shadow: inset 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.15);
  border-radius: 2.5rem;
  text-decoration: none;
  font-size: 1.92rem;
  color: inherit;
}

.gratuito-link-redes:hover,
.gratuito-link-redes:active {
  text-decoration: underline;
}

.gratuito-link-redes img {
  width: 1.8rem;
}

/* secao diferenciais */
.secao-diferenciais {
  background-color: #f4f5f6;
}

.container-diferenciais {
  border-radius: 5rem;
  background-color: white;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
}

.caixa-titulo-diferenciais {
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 4.88rem;
  background-image: linear-gradient(225deg, #196b9f, #1a82a7);
  color: white;
}

.caixa-restante-diferenciais {
  padding: 4.88rem;
}

.caixa-itens-diferenciais {
  position: relative;
  border-radius: 2.5rem;
  background-color: white;
  box-shadow: 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  padding: 3.9rem 2.5rem;
}
.conheca-diferenciais {
  font-size: 2.7rem;
  font-weight: 400;
}

.caixa-diferenciais-h2 {
  border-left: solid 0.4rem #feae00;
  padding: 0.52rem 0 0.52rem 2rem;
}

.imagem-conheca {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: #feae00;
  border-radius: 1.25rem;
  width: 10rem;
  height: 10rem;
  padding: 1.6rem;
  box-shadow: 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
}

.imagem-conheca img {
  width: 100%;
}

.paragrafo-conheca {
  font-size: 1.9rem;
  line-height: 1.3;
}

.temas-conheca {
  color: #005e88;
  font-weight: 600;
  font-size: 2.3rem;
}

.paragrafo-temas {
  font-size: 1.6rem;
}

/* secao o que falam */

.secao-oquefalam {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-04.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.oquefalam-titulo {
  color: white;
}

.oquefalam-carrossel {
  position: relative;
}

.oquefalam-seta {
  position: absolute;
  top: 50%;
}

.seta--esquerda {
  left: 0;
  transform: translate(-100%, -50%);
}

.seta--direita {
  right: 0;
  transform: translate(100%, -50%);
}

.oquefalam-carrossel-img {
  background-color: #7489af;
  background-blend-mode: multiply;
  display: inline-block;
  position: relative;
  aspect-ratio: 16/9;
  width: 30rem;
  background-size: cover;
  background-position: 50%;
  width: 33%;
  border-radius: 2.5rem;
}

.icon-player {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
}

.oquefalam-carrossel-img--1 {
  background-image: url(https://i3.ytimg.com/vi/N_EZD04zmrw/hqdefault.jpg);
}

.oquefalam-carrossel-img--2 {
  background-image: url(https://i3.ytimg.com/vi/auqWeBJLJHY/hqdefault.jpg);
}

.oquefalam-carrossel-img--3 {
  background-image: url(https://i3.ytimg.com/vi/FD79IpCaM1Y/hqdefault.jpg);
}

.item-navegacao {
  cursor: pointer;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #86a8bc;
}

.ativa {
  background-color: #14577f;
}

.botao-oquefalam {
  background-image: linear-gradient(180deg, #196c9f, #1a80a7);
  color: #f9f9f9;
  border-bottom: solid 0.4rem #14577f;
  border-right: solid 0.4rem #14577f;
}

.botao-oquefalam:hover {
  background-color: #14577f;
  background-image: none;
  border-bottom: solid 0.4rem #14577f;
  border-right: solid 0.4rem #1a80a7;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
}

.secao-namidia {
  padding-top: 3.9rem;
  padding-bottom: 2rem;
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUND-Banner-05_1.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.seta-namidia,
.h2-namidia {
  display: inline-block;
}
.empresas-conheca a {
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

.empresas-conheca {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.3;
}
.diferemciais-empresas img {
  height: 5rem;
  filter: grayscale(100%);
}

.secao-blog{
  background-color: #f4f5f7;
}

.container-blog {
  border-radius: 5rem;
  background-color: white;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  padding: 4.88rem;
}

.subtitulo-blog {
  font-size: 2.7rem;
  color: white;
  font-weight: 400;
  line-height: 1.1;
  background-color: #feae00;
  padding: 1rem;
  border-radius: 1rem;
  width: 60rem;
  text-align: center;
}

.paragrafo-img {
  font-size: 1.5rem;
}

.paragrafo-img a {
  text-decoration: none;
  color: #feae00;
}

.link-item-blog {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
}

.descricao-item-blog {
  font-size: 1.6rem;
}

.subtitulo-como {
  font-size: 2.7rem;
  color: white;
  background-color: #15a1d5;
  font-weight: 400;
  padding: 1rem;
  border-radius: 1rem;
  width: 60rem;
  text-align: center;
}

.item-como {
  font-size: 1.9rem;
}

.item-como a {
  color: #008ff7;
  font-weight: 600;
}

.subtitulo-minicurso {
  font-size: 2.7rem;
}

.style-label {
  font-size: 1.6rem;
}

.titulos-rodape {
  font-size: 2.3rem;
  font-weight: 600;
}

.cursos {
  font-size: 1.9rem;
  font-weight: 600;
}

.rodape-nome {
  font-size: 1.6rem;
  font-weight: 600;
}

.link-rodape {
  color: #1a77a4;
}
